@{
    ViewBag.Title = "DMKhachHang";
    ViewBag.Title = "thongTinLienHe";
    var lst_khach_hang = ViewBag.v_lst_kh as List<BKI_CRM.Model.V_DM_KHACH_HANG>;
}
<style>
    .mau {
        width: 100px;
    }

    .marginleft {
        margin-left: 200px;
    }

    .width220px {
        width: 220px;
    }

    .height_input {
        height: 34px !important;
    }
</style>
<div class="title">
    <h2>DANH MỤC KHÁCH HÀNG</h2>
</div>
<div style="margin: 20px 0px 30px 0px;">
    <select id="thuc_hien" style="margin-left:100px;">
        <option></option>
        <option value="xuat_excel">Xuất Excel</option>
        <option value="in">In</option>
    </select>

    <button type="button" class="btn btn-primary marginleft" data-toggle="modal" data-target="#thay_doi" aria-hidden="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Thêm khách hàng</button>

    <select id="loc_khach_hang" style="float:right;margin-right:100px;">
        <option></option>
        <option value="khach_hang_tiem_nang">Khách hàng tiềm năng</option>
        <option value="khach_hang_than_thiet">Khách hàng thân thiết</option>
    </select>
</div>
<div style="margin-bottom:50px;">
    <table id="example" class="display" ">
        <thead>
            <tr>
                <th></th>
                <th>Họ và đệm</th>
                <th>Tên</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Sản phẩm-dịch vụ</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th></th>
                <th>Họ và đệm</th>
                <th>Tên</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Sản phẩm-dịch vụ</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </tfoot>

        <tbody>
            @foreach (var item in lst_khach_hang)
            {
                var t = item.TEN_KHACH_HANG.Split(' ').ToList<string>();
                var ten = t[t.Count - 1];
                var ho = t[0];
                for (int i = 1; i < t.Count - 1; i++) { ho += ' ' + t[i]; }
                <tr id="@item.ID_GD">
                    <td class="c"><input type="checkbox" /></td>
                    <td class="ho">@ho</td>
                    <td class="ten">@ten</td>
                    <td class="sdt">@item.SDT</td>
                    <td class="email">@item.EMAIL</td>
                    <td class="sp">@item.TEN_SAN_PHAM</td>
                    <td><span class="glyphicon glyphicon-pencil edit" aria-hidden="true" onclick="sua('@item.ID')"></span></td>
                    <td><span class="glyphicon glyphicon-trash delete" onclick="hienxoa('@item.ID_GD')" aria-hidden="true"></span></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="thay_doi">
    <div class="modal-dialog modal-lg" id="thongtinlienhe">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title title">THÔNG TIN LIÊN HỆ</h3>
            </div>
            <div class="modal-body">

                <div class="container">
                    <table class="table table-condensed table-font-size " style="margin-top:20px;width:75%; ">
                        <tr>
                            <td rowspan="4">
                                <label class=" padding">Ảnh cá nhân</label>
                            </td>
                            <td rowspan="4">
                                <img src="http://media.ngoisao.vn/resize_580x1100/news/2012/10/6/67/taeheejpg1349493486.jpg" alt="Ảnh" style="width:120px; height:160px;" id="anh">
                            </td>
                            <td>
                                <label class="width100px ">Nơi ở hiện nay</label>
                            </td>
                            <td>
                                <input type="email" placeholder="Nhập địa chỉ nơi ở hiện nay" class="form-control width220px height_input " style="height:34px !important;" id="diachi" />
                            </td>
                        </tr>

                        <tr>

                            <td>
                                <label class="width100px left padding">Nơi công tác</label>
                            </td>
                            <td>
                                <input type="email" placeholder="Nhập địa chỉ nơi công tác" class="form-control width220px height_input " style="height:34px !important;" id="noict" />
                            </td>


                        </tr>
                        <tr>

                            <td>
                                <label class="width100px left padding">Điện thoại</label>
                            </td>
                            <td>
                                <input type="email" placeholder="Nhập số điện thoại" class="form-control width220px height_input " style="height:34px !important;" id="sdt" />
                            </td>


                        </tr>

                        <tr>

                            <td>
                                <label class="padding">ĐT nhà riêng</label>
                            </td>
                            <td>
                                <input type="email" placeholder="Nhập số ĐT nhà riêng" class="form-control width220px height_input " style="height:34px !important;" id="sdt2" />
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <label class="width100px left padding">Họ và tên</label>
                            </td>
                            <td>
                                <input type="email" placeholder="Nhập Họ và tên" class="form-control width220px height_input " style="height:34px !important;" id="hoten" />
                            </td>

                            <td>
                                <label class="padding">Email</label>
                            </td>
                            <td>
                                <input type="email" placeholder="Nhập địa chỉ Email" class="form-control width220px height_input " style="height:34px !important;" id="email" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="width100px left padding">Mã số thuế</label>
                            </td>
                            <td>
                                <input type="email" placeholder="Nhập Mã số thuế" class="form-control width220px height_input " style="height:34px !important;" id="masothue" />
                            </td>

                            <td>
                                <label class="width100px left padding">Facebook</label>
                            </td>
                            <td>
                                <input type="email" placeholder="Nhập địa chỉ Facebook " class="form-control width220px height_input " style="height:34px !important;" id="fb" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="width100px left padding">Ngày sinh</label>
                            </td>
                            <td>
                                <input type="date" class="form-control width220px" style="height:34px !important;" id="ngaysinh" />
                            </td>

                            <td>
                                <label class="width100px left padding ">Skype</label>
                            </td>
                            <td>
                                <input type="email" placeholder="Nhập địa chỉ Skype" class="form-control width220px height_input " id="skype" style="height:34px !important;" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="width100px ">Giới tính</label>
                            </td>
                            <td>
                                <select id="gioi_tinh" class="js-example-basic-single ">
                                    <option value="nam">Nam</option>
                                    <option value="nu">Nữ</option>
                                </select>
                            </td>
                            <td>
                                <label class="width100px left padding" style="width:103px;" id="loaikh">Loại khách hàng</label>
                            </td>
                            <td>
                                @*<select style="width:220px;height:30px;" class="sel">
                                        @foreach (var item in lst_loai_khach_hang)
                                        {
                                            <option value="@item.ID">@item.TEN_TU_DIEN</option>
                                        }
                                    </select>*@
                                <select id="loai_khach_hang" class="js-example-basic-single ">
                                    <option value="loc_khach_hang">Khách hàng thân thiết</option>
                                    <option value="khach_hang_tiem_nang">Học viên</option>
                                    <option value="khach_hang_tiem_nang">Khách hàng lẻ</option>

                                </select>

                            </td>
                        </tr>


                    </table>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" onclick="$('#thongtinlienhe').find('input').val('');">Xóa trắng</button>
                <button type="button" class="btn btn-primary">Lưu lại</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="xoa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">THÔNG BÁO</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa dòng dữ liệu này không?</p>
                <div id="giatri" style="display:none;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="xoa($('#giatri').html())">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {
        $("#thuc_hien").select2({
            placeholder: "Thực hiện",
            allowClear: true
        });
        $("#loc_khach_hang").select2({
            placeholder: "Lọc khách hàng",
            allowClear: true
        });

        $("#gioi_tinh").select2({
            placeholder: "",
            allowClear: true
        });

        $("#loai_khach_hang").select2({
            placeholder: "",
            allowClear: true
        });
        $('#example').dataTable();


    });
    function sua(id_kh) {
        $.ajax({
            url: "/Home/LayThongTinLienHe",
            type: "POST",
            data: { id_kh: id_kh },
            dataType: "json",
            error: function () {
                alert('Thấy thông tin người dùng thất bại!');
            },
            success: function (data) {
                hoten.value = data.TEN_KHACH_HANG;
                email.value = data.EMAIL;
                sdt.value = data.SDT;
                sdt2.value = data.SDT_02;
                diachi.value = data.DIA_CHI;
                noict.value = data.NOI_CONG_TAC;
                masothue.value = data.MA_SO_THUE;
                fb.value = data.FACEBOOK;
                skype.value = data.SKYPE;
                gioi_tinh.value = data.GIOI_TINH ? "nam" : "nu";
                ngaysinh.value = data.NGAY_SINH;
                anh.src = data.IMAGE;
                $('#thay_doi').modal('show');
            }
        });
    }
    function xoa(id_kh) {
        $.ajax({
            url: "/Home/XoaThongTinLienHe",
            type: "POST",
            data: { id_kh: id_kh },
            dataType: "json",
            error: function () {
                alert("Xóa thất bại!");
                $('#xoa').modal('hide');
            },
            success: function (data) {
                alert('Xóa thành công!');
                $('#' + id_kh).remove();
                $('#xoa').modal('hide');
            }
        });
    }
    function hienxoa(id_kh) {
        giatri.innerHTML = id_kh;
        $('#xoa').modal('show');
    }

</script>